* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 350px;
    z-index: -1;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 0 30px;
    margin-top: 70px;
    border: 1px;
    border-color: black;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.title {
    color: white;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 10px;
}

.new-todo {
    display: flex;
    background-color: gray;
    height: 70px;
    margin-top: 50px;
}

.check {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-mark {
    color: white;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.check-mark-checked {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.check-mark:hover {
    color: white;
    border-color: white;
    background-color: black;
    transition: all 0.5s ease;
}

.delete {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-mark {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-mark:hover {
    transition: all 0.5s ease;
}

.new-todo-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.new-todo-input form {
    flex-grow: 1;
}

.new-todo-input input {
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
}

.new-todo-input input::placeholder {
    color: darkgray;
}

.todo-items-wrapper {
    background-color: gray;
    margin-top: 20px;
    box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.4);
}

.todo-item {
    width: 100%;
    display: flex;
    height: 70px;
    background-color: gray;
    border-bottom: 1px solid darkgray;
    font-size: 18px;
    color: white;
    transition: all 0.25s ease;
}

.todo-item:hover {
    transform: translateY(-2px);
    box-shadow: 0px 0px 5px 10px rgba(0,0,0,0.4);
    border-color: black;
}

.todo-text {
    width: 560px;
    display: flex;
    align-items: center;
}

.todo-items-config {
    height: 70px;
    width: 100%;
    color: darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.items-statuses {
    display: flex;
    justify-content: center;
}

.items-statuses span {
    padding: 0px 5px;
    cursor: pointer;
}

.items-statuses span:hover,
.items-statuses span.on,
.items-clear:hover {
    color: white;
}

.items-clear:hover {
    cursor: pointer;
}